@use '../custom_scss/fonts';
@use '../custom_scss/general';
@use '../custom_scss/structure/topnav';
@use '../custom_scss/structure/footer';
@use '../custom_scss/pages/bhatkhande';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Euclid Circular A", "Akzidenz", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
